/* FilterSidebar.css */
.custom-range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1.2rem;
    background-color: #d1d5db; /* Gray background for the slider track */
    border-radius: 0.2rem;
    outline: none;
  }
  
  .custom-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #4b5563; /* Dark gray color for the slider thumb */
    border-radius: 50%;
    cursor: pointer;
  }
  